body{
    background-color: beige;
}

img {
    margin: auto;
    display: block;
}



.OD, .GR {
    text-align: center;
    color: rgb(170, 109, 109);
    font-family: 'Courier New', Courier, monospace;
}

ul li{
    text-align: center;
    color: rgb(170, 109, 109);
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    
}